.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

header {
  font-size: calc(10px + 2vmin);
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

#duties {
  flex: auto;
}
